.order-form {
  text-align: center;
  width: 100% !important;
}
.addReview-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 668px) {
  .order-form {
    width: 100%;
  }
}
