/* All header css styles here */
.header {
  height: 75px;
  margin: 0;
  background-color: antiquewhite;
}
.logo {
  width: 180px;
}
.nav-bar {
  font-size: 18px;
  font-weight: 500;
}

.bg-navbar {
  padding-left: 12px;
}

.dashboard-box {
  padding: 10px;
  width: 250px;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-info-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#basic-nav-dropdown::after {
  display: none;
}
.profile-info-body a {
  text-decoration: none;
  color: #22343d;
}
.hico {
  color: #ff00b3;
}
